#commentCard{
  padding: 0 16px;
  .c-header-top{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }

  .comment-items{
    .item{
      padding: 5px 0 6px 0;
      position: relative;
      display: flex;
      .content-maker{
        position: absolute;
        left: 0;
        top: 5px;
      }
      .item-content{
        display: inline-block;
        max-width: 100%;
        align-items: center;
        vertical-align: middle;
        p{
          display: inline-block;
          max-width: 100%;
          text-indent: 60px;
          overflow-wrap: break-word;
          margin: 0;
        }
        a{

        }
      }
      .delete-comment-button{
        vertical-align: top;
      }
    }

    .show-more-content a{
      color: #999;
    }
  }

  /* 发表时间 */
  .pub-time{
    padding-bottom: 6px;
    border-bottom: 1px solid #efefef;
  }
  .pub-time a{
    color: #999;
    font-size: 12px;
  }
  /* End 发表时间 */

  .comment-form{
    display: flex;
    height: 100%;
    padding: 16px 26px  16px 0;
    align-items: center;
    justify-content: space-between;
    .input-con{
      min-width: 80%;
    }

    input{
      width: 100%;
      border: none;
    }
    .comment-input-button-con{
      button{
        background: none;
        border: none;
      }
    }
  }

  .sign-icon{
    cursor: pointer;
  }
}

// 弹窗下的布局, 通过order来控制, 相信还有更好的方案。
.dialog-comment-card{
  display: flex;
  flex-direction: column;
  .comment-items{
    order: 1;
    height: 380px;
  }
  .pub-time{
    order: 2;
  }
  .c-header{
    order: 3;
  }
  .comment-form{
    order: 4;
  }

}