#explore{
  max-width: 935px;
  padding: 60px 0 0;

  .row{
    margin: 0;
  }

  .explore-header{
    margin-bottom: 60px;
    .eh-more-link{
      float: right;
    }
  }

  .user-card-con{
    display: inline-block;
    height: 220px;
    max-width: 295px;
    border: 1px solid rgba(0, 0, 0, .0975);
    background: #fff;
  }

  /* 设置 simpleUserCard 内容 */
  #SimpleUserCard{
    justify-content: space-around;
    .img-con{
      margin-bottom: 12px;
    }

    .left-title{
      margin-bottom: 5px;
    }
  }
}
