#tweetFullCard{
  background: #ffffff;
  margin-bottom: 60px;
  .media-con{
    height: 100%;
    .img-con{
      height: 100%;
    }
    img{
      height: 100%;
    }



  }
  .full-card-header{
    height: 60px;
    display: flex;
    align-items: center;
  }



}


// 针对dialog版本的设置
.dialog-tweet-full-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .tweet-full-card-main{
    padding: 0 24px;
  }

}