#tweetFullCard{
  width: 100%;
  height: 100%;
  background: #ffffff;
  .image-slider-con-dialog{
    height: 100%;
    .img-con{
      height: 100%;
    }
    img{
      height: 100%;
    }
  }
  .full-card-header{
    height: 60px;
    display: flex;
    align-items: center;
  }
}

.dialog-tweet-full-card{
  display: flex;
  flex-direction: row;

}