#tweetFullCard{
  background: #ffffff;
  margin-bottom: 60px;
  .media-con{
    .img-con{
    }
    img,video{
      width: 100%;
    }
  }

  // 视频
  .video-con{
    width: 100%;
    video{
      width: 100%;
    }
  }

  .full-card-header{
    height: 60px;
    display: flex;
    align-items: center;
  }



}


// 针对dialog版本的设置
.dialog-tweet-full-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .tweet-full-card-main{
    padding: 0 24px;
  }

  .media-con-dialog{
    height: 100%;
    .img-con{
      height: 100%;
    }
    img,video{
      height: 100%;
    }
  }



}