


body {
  a, p, span {
    font-size: 14px;
    margin: 0;
  }

  .container,.row,.container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }


  a {
    color: #262626;
    font-weight: 600;
  }

  ul {
    margin: 0;
  }
  input, button, select, textarea {
    outline: none
  }

  button:focus{
    outline: none
  }

}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre
form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px/1.5
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


