@import "~src/assets/css/common.scss";
#dialogCenter{
  @include screenCover();
  .dialog-bac{
    z-index: 3;
    @include screenCover();
    background-color: rgba(0,0,0,.5);
  }

  .dialog-buttons-con{
    width: 510px;
    z-index: 4;
    @include absoluteCenter();
    background: #ffffff;
    li{
      height: 100%;
      .dialog-button{
        padding: 0 16px;
        @include fillAll();
      }
    }
  }

  .dialog-tweet-con{
    z-index: 4;
    height: 600px;
    @include absoluteCenter();
    background: #ffffff;
  }

  .pub-card-con{
    z-index: 4;
    @include absoluteCenter();
    width: 540px;
    height: 305px;
  }

    //媒体展示图片
    .pub-display-image{
      width: 40px;
      height: 40px;
    }



}