@import "~src/shared/assets/css/common.scss";
#dialogCenter{
  justify-content: center;
  @include screenCover();
  .dialog-bac{
    z-index: 3;
    @include screenCover(fixed);
    background-color: rgba(0,0,0,.5);
  }
  .dialog-hide-button{
    position: absolute;
    right: 32px;
    top: 32px;
  }

  .dialog-buttons-con{
    width: 510px;
    z-index: 4;
    @include absoluteCenter(fixed);
    background: #ffffff;
    li{
      height: 100%;
      .dialog-button{
        padding: 0 16px;
        @include fillAll();
      }
    }
  }

  .dialog-tweet-con{
    z-index: 4;
    height: 600px;
    @include absoluteCenter(absolute);
    background: #ffffff;
  }

  .pub-card-con{
    z-index: 4;
    @include absoluteCenter();
  }
}