#nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  transition: height .2s ease-in-out;
  height: 77px;
  display: flex;
  align-items: center;

  .nav-main {
    margin: 0 auto;
  }

  // 左中右
  .nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
  }

  .nl-infos-con {
    display: inline-block;
    background-image: url("~src/assets/img/common/icons.png");
    background-repeat: no-repeat;
    background-position: -177px 0;
    height: 36px;
    width: 176px;
  }

  .nav-center{
    position: relative;
    justify-content: center;
    //输入框
    .input-con input{
      border: solid 1px #dbdbdb;
      border-radius: 3px;
      color: #262626;
      font-size: 14px;
      outline: none;
      padding: 3px 10px 3px 26px;
      z-index: 2;
      background-color: rgb(250,250,250);
    }
    // 搜索结果
    .search-result{
      z-index: 4;
      position: absolute;
      top: 0;
      transform: translateY(50%);
      background: #ffffff;

    }
  }

  .nav-right{
    justify-content: flex-end;
    // 右侧图标
    .nr-icon{
      display: inline-block;
      background-image: url("~src/assets/img/common/icons.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      margin-left: 30px;
      vertical-align: middle;
      &.explore-icon{
        background-position: -310px -352px;
      }
      &.recent-icon{
        background-position: -408px 0;
      }
      &.self-center-icon{
        background-position: -362px -352px;
      }
      &.pub-icon{
        width: 35px;
        height: 35px;
        background-image: url("~src/assets/img/common/letpub.png");
      }
    }
  }





}