// 全局背景
html,body{
  background: #FAFAFA;
}

.lock-back{
  height: 100%;
  overflow: hidden;
}

a{
  cursor: pointer;
  color: #262626;;
}

@function px2rem($px, $base-font-size: 16px) {
  @if (unitless($px)) {
    @return px2rem($px + 0px);
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

@mixin boxShadow() {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

@mixin boxShadowBottom() {
  border-bottom: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 0 1px 0 rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}



@function mapToKey($map) {
  @each $key, $value in $map {
    @return $key
  }
}

@mixin hover($sheets:(), $duri: .7s) {
  transition: all $duri ease;
  &:hover{
    @each $header, $number in $sheets {
      #{$header}:$number;
    }
  }
}


@mixin commonFlex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin fillAll() {
  display: inline-block;
  width: 100%;
  height: 100%;
}


@mixin absoluteCenter($position:absolute) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@mixin screenCover($position:absolute) {
  position: $position;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


@mixin flexIt($map: (top: 0, left: 0)) {
  position: fixed;
  @each $key, $value in $map {
    #{mapToKey($key)}: $value;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}
